In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('C:/Users/v_gol/Desktop/Developers Institute/GitHub/DI-Bootcamp/Week4/Day2/flavors_of_cacao.xlsx', sheet_name='flavors_of_cacao')

In [5]:
count_countries_appearance = df['Company\nLocation'].value_counts()
countries_over_10 = count_countries_appearance[count_countries_appearance>10]
best_tasting_amoung_frequent_countries = df[df['Company\nLocation'].isin(countries_over_10.index)].groupby('Company\nLocation')['Rating'].mean().nlargest(1)
best_tasting_amoung_frequent_countries

Company\nLocation
Vietnam    3.409091
Name: Rating, dtype: float64

In [6]:
df.value_counts('Company\nLocation')

Company\nLocation
U.S.A.               764
France               156
Canada               125
U.K.                  96
Italy                 63
Ecuador               54
Australia             49
Belgium               40
Switzerland           38
Germany               35
Austria               26
Spain                 25
Colombia              23
Hungary               22
Venezuela             20
New Zealand           17
Madagascar            17
Peru                  17
Japan                 17
Brazil                17
Denmark               15
Vietnam               11
Guatemala             10
Scotland              10
Israel                 9
Costa Rica             9
Argentina              9
Poland                 8
Lithuania              6
Honduras               6
Sweden                 5
Nicaragua              5
Domincan Republic      5
South Korea            5
Sao Tome               4
Puerto Rico            4
Amsterdam              4
Mexico                 4
Ireland                4
Netherlands            4
Fiji                   4
South Africa           3
Portugal               3
Iceland                3
Singapore              3
Grenada                3
Finland                2
Bolivia                2
Chile                  2
St. Lucia              2
Czech Republic         1
Eucador                1
Niacragua              1
Suriname               1
Ghana                  1
India                  1
Russia                 1
Martinique             1
Philippines            1
Wales                  1
Name: count, dtype: int64

In [12]:
count_countries_appearance = df['Company\nLocation'].value_counts()
countries_over_10 = count_countries_appearance[count_countries_appearance>10]
best_tasting_amoung_frequent_countries = df[df['Company\nLocation'].isin(countries_over_10.index)]

In [13]:
best_tasting_amoung_frequent_countries

,Company\n(Maker-if known),Specific Bean Origin\nor Bar Name,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,2016,0.63,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,2015,0.70,France,2.75,NaN,Togo
2,A. Morin,Atsane,2015,0.70,France,3.00,NaN,Togo
3,A. Morin,Akata,2015,0.70,France,3.50,NaN,Togo
4,A. Morin,Quilla,2015,0.70,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,2011,0.70,Austria,3.75,NaN,Peru
1791,Zotter,Congo,2011,0.65,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,2011,0.65,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,2011,0.62,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",2010,0.65,Austria,3.00,NaN,Brazil

In [14]:
countries_over_10

Company\nLocation
U.S.A.         764
France         156
Canada         125
U.K.            96
Italy           63
Ecuador         54
Australia       49
Belgium         40
Switzerland     38
Germany         35
Austria         26
Spain           25
Colombia        23
Hungary         22
Venezuela       20
Japan           17
Brazil          17
Peru            17
Madagascar      17
New Zealand     17
Denmark         15
Vietnam         11
Name: count, dtype: int64

In [31]:
df.nlargest(2,'Rating')

,Company\n(Maker-if known),Specific Bean Origin\nor Bar Name,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
78,Amedei,Chuao,2007,0.7,Italy,5.0,Trinitario,Venezuela
86,Amedei,Toscano Black,2006,0.7,Italy,5.0,Blend,NaN

In [30]:
most_delicious_israeli_chocolate = df[df['Company\nLocation'] == 'Israel'].nlargest(1,'Rating')

In [32]:
most_delicious_israeli_chocolate

,Company\n(Maker-if known),Specific Bean Origin\nor Bar Name,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
824,Holy Cacao,Hispaniola w/ nibs,2009,0.75,Israel,3.75,NaN,Dominican Republic