In [542]:
import pandas as pd
import matplotlib as plt

survey_data = pd.read_csv('survey.csv')

In [543]:
survey_data

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [544]:
survey_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [545]:
missing_values = survey_data.isnull().sum()
missing_values

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [546]:
survey_data = survey_data.drop(columns=['state'])
survey_data = survey_data.drop(columns=['comments'])

In [547]:
missing_values = survey_data.isnull().sum()
missing_values

Timestamp                      0
Age                            0
Gender                         0
Country                        0
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

In [548]:
survey_data

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,Female,United States,NaN,No,Yes,Often,6-25,No,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:37,44,M,United States,NaN,No,No,Rarely,More than 1000,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:44,32,Male,Canada,NaN,No,No,Rarely,6-25,No,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,Yes,Yes,Often,26-100,No,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,2014-08-27 11:30:22,31,Male,United States,NaN,No,No,Never,100-500,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,No,No,Yes,NaN,26-100,No,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,male,United States,No,Yes,Yes,Sometimes,More than 1000,No,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1257,2015-11-30 21:25:06,46,f,United States,No,No,No,NaN,100-500,Yes,...,Don't know,Don't know,Yes,No,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [549]:
survey_data = survey_data.dropna(subset=['work_interfere'])

In [550]:
survey_data = survey_data.dropna(subset=['self_employed'])

In [551]:
survey_data

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,male,United States,Yes,Yes,No,Sometimes,1-5,Yes,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,2014-08-27 11:35:12,29,Male,United States,No,Yes,Yes,Sometimes,100-500,No,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,male,United States,Yes,No,No,Never,1-5,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,No,No,Yes,Often,26-100,Yes,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,2014-08-27 11:36:24,41,Male,United States,No,No,Yes,Never,More than 1000,No,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2015-08-20 16:52:09,29,male,United States,No,Yes,Yes,Sometimes,100-500,Yes,...,Yes,Don't know,Yes,No,Some of them,No,No,Maybe,No,No
1253,2015-08-25 19:59:38,36,Male,United States,No,Yes,No,Rarely,More than 1000,No,...,Don't know,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,male,United States,No,Yes,Yes,Sometimes,More than 1000,No,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [552]:
# survey_data['Gender'] = survey_data['Gender'].str.capitalize()

In [553]:
survey_data['Gender'] = survey_data['Gender'].replace(dict.fromkeys(['male', 'm', 'man', 'Cis man','M','Male ','Malr','Mal','Cis Male','Mail','Make','msle','cis male','Cis Man','Male-ish'], 'Male'))
survey_data['Gender'] = survey_data['Gender'].replace(dict.fromkeys(['female', 'f','F', 'cis Female', 'Cis Female','Cis female','W','woman','Woman','cis-female/femme','Female ','Female (cis)','Femail','femail'], 'Female'))

In [554]:
other_gender = survey_data[(survey_data['Gender'] != 'Male') & (survey_data['Gender'] != 'Female')]
other_gender['Gender']

72                                        Trans-female
306                                     queer/she/they
349                                         non-binary
387                                                Nah
390                                                All
413                                               Enby
416                                              fluid
451                                        Genderqueer
544                                          Androgyne
553                                            Agender
626                                     Guy (-ish) ^_^
628                           male leaning androgynous
682                                        Trans woman
777                                             Neuter
805                                     Female (trans)
818                                              queer
989                                 A little about you
1017                                    Female (trans)
1127                                                 p
1234    ostensibly male, unsure what that really means
Name: Gender, dtype: object

In [555]:
other_gender['Gender']

72                                        Trans-female
306                                     queer/she/they
349                                         non-binary
387                                                Nah
390                                                All
413                                               Enby
416                                              fluid
451                                        Genderqueer
544                                          Androgyne
553                                            Agender
626                                     Guy (-ish) ^_^
628                           male leaning androgynous
682                                        Trans woman
777                                             Neuter
805                                     Female (trans)
818                                              queer
989                                 A little about you
1017                                    Female (trans)
1127                                                 p
1234    ostensibly male, unsure what that really means
Name: Gender, dtype: object

In [556]:
# survey_data = survey_data[~((survey_data['Gender'] != 'Male') & (survey_data['Gender'] != 'Female'))]

In [557]:
survey_data

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,Male,United States,Yes,Yes,No,Sometimes,1-5,Yes,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,2014-08-27 11:35:12,29,Male,United States,No,Yes,Yes,Sometimes,100-500,No,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,Male,United States,Yes,No,No,Never,1-5,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,No,No,Yes,Often,26-100,Yes,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,2014-08-27 11:36:24,41,Male,United States,No,No,Yes,Never,More than 1000,No,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2015-08-20 16:52:09,29,Male,United States,No,Yes,Yes,Sometimes,100-500,Yes,...,Yes,Don't know,Yes,No,Some of them,No,No,Maybe,No,No
1253,2015-08-25 19:59:38,36,Male,United States,No,Yes,No,Rarely,More than 1000,No,...,Don't know,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,Male,United States,No,Yes,Yes,Sometimes,More than 1000,No,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [558]:
survey_data.loc[(survey_data['Gender'] != 'Male') & (survey_data['Gender'] != 'Female'), 'Gender'] = 'other_gender'

In [559]:
survey_data['Gender'].value_counts()

Gender
Male            751
Female          206
other_gender     20
Name: count, dtype: int64

In [560]:
survey_data

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,Male,United States,Yes,Yes,No,Sometimes,1-5,Yes,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,2014-08-27 11:35:12,29,Male,United States,No,Yes,Yes,Sometimes,100-500,No,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,Male,United States,Yes,No,No,Never,1-5,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,No,No,Yes,Often,26-100,Yes,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,2014-08-27 11:36:24,41,Male,United States,No,No,Yes,Never,More than 1000,No,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2015-08-20 16:52:09,29,Male,United States,No,Yes,Yes,Sometimes,100-500,Yes,...,Yes,Don't know,Yes,No,Some of them,No,No,Maybe,No,No
1253,2015-08-25 19:59:38,36,Male,United States,No,Yes,No,Rarely,More than 1000,No,...,Don't know,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,Male,United States,No,Yes,Yes,Sometimes,More than 1000,No,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [561]:
survey_data['Age'].max()

99999999999

In [562]:
survey_data['Age'].min()

-1726

In [564]:
#survey_data = survey_data[(survey_data['Age'] > 18) & (survey_data['Age'] < 120)]

In [565]:
survey_data['Age'].max()

49

In [566]:
survey_data['Age'].min()

18

In [567]:
survey_data

,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,Male,United States,Yes,Yes,No,Sometimes,1-5,Yes,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,2014-08-27 11:35:12,29,Male,United States,No,Yes,Yes,Sometimes,100-500,No,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,Male,United States,Yes,No,No,Never,1-5,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,No,No,Yes,Often,26-100,Yes,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,2014-08-27 11:36:24,41,Male,United States,No,No,Yes,Never,More than 1000,No,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2015-08-20 16:52:09,29,Male,United States,No,Yes,Yes,Sometimes,100-500,Yes,...,Yes,Don't know,Yes,No,Some of them,No,No,Maybe,No,No
1253,2015-08-25 19:59:38,36,Male,United States,No,Yes,No,Rarely,More than 1000,No,...,Don't know,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,Male,United States,No,Yes,Yes,Sometimes,More than 1000,No,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [568]:
survey_data['Timestamp'] = pd.to_datetime(survey_data['Timestamp'])
survey_data['Date'] = survey_data['Timestamp'].dt.date
survey_data['Time'] = survey_data['Timestamp'].dt.time
survey_data.drop(columns=['Timestamp'], inplace=True)

C:\Users\v_gol\AppData\Local\Temp\ipykernel_36712\1898924496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_data['Timestamp'] = pd.to_datetime(survey_data['Timestamp'])
C:\Users\v_gol\AppData\Local\Temp\ipykernel_36712\1898924496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_data['Date'] = survey_data['Timestamp'].dt.date
C:\Users\v_gol\AppData\Local\Temp\ipykernel_36712\1898924496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_data['Time'] = survey_data['Timestamp'].dt.time
C:\Users\v_gol\AppData\Local\Temp\ipykernel_36712\1898924496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_data.drop(columns=['Timestamp'], inplace=True)

In [569]:
# survey_data.loc[:, ['Date', 'Time']] = survey_data['Timestamp'].str.split(' ', expand=True)
# survey_data.loc[:, 'Date'] = pd.to_datetime(survey_data['Date'])
# survey_data.loc[:, 'Time'] = pd.to_datetime(survey_data['Time']).dt.time

In [570]:
survey_data

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,Date,Time
18,46,Male,United States,Yes,Yes,No,Sometimes,1-5,Yes,Yes,...,No,No,Yes,Yes,No,Yes,Yes,Yes,2014-08-27,11:34:53
20,29,Male,United States,No,Yes,Yes,Sometimes,100-500,No,Yes,...,Maybe,No,Some of them,Some of them,No,No,No,No,2014-08-27,11:35:12
21,31,Male,United States,Yes,No,No,Never,1-5,Yes,Yes,...,No,No,Some of them,Some of them,No,Maybe,Yes,No,2014-08-27,11:35:24
22,46,Male,United States,No,No,Yes,Often,26-100,Yes,Yes,...,Maybe,No,Some of them,Yes,No,Maybe,No,No,2014-08-27,11:35:48
23,41,Male,United States,No,No,Yes,Never,More than 1000,No,No,...,Maybe,No,No,No,No,Yes,Don't know,No,2014-08-27,11:36:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,29,Male,United States,No,Yes,Yes,Sometimes,100-500,Yes,Yes,...,Yes,No,Some of them,No,No,Maybe,No,No,2015-08-20,16:52:09
1253,36,Male,United States,No,Yes,No,Rarely,More than 1000,No,No,...,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,2015-08-25,19:59:38
1255,32,Male,United States,No,Yes,Yes,Often,26-100,Yes,Yes,...,No,No,Some of them,Yes,No,No,Yes,No,2015-09-26,01:07:35
1256,34,Male,United States,No,Yes,Yes,Sometimes,More than 1000,No,Yes,...,Yes,Yes,No,No,No,No,No,No,2015-11-07,12:36:58
1258,25,Male,United States,No,Yes,Yes,Sometimes,26-100,No,No,...,Maybe,No,Some of them,No,No,No,Don't know,No,2016-02-01,23:04:31

In [571]:
survey_data.insert(0, 'Date', survey_data.pop('Date'))
survey_data.insert(1, 'Time', survey_data.pop('Time'))

In [572]:
survey_data

,Date,Time,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27,11:34:53,46,Male,United States,Yes,Yes,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,2014-08-27,11:35:12,29,Male,United States,No,Yes,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27,11:35:24,31,Male,United States,Yes,No,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27,11:35:48,46,Male,United States,No,No,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,2014-08-27,11:36:24,41,Male,United States,No,No,Yes,Never,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2015-08-20,16:52:09,29,Male,United States,No,Yes,Yes,Sometimes,100-500,...,Yes,Don't know,Yes,No,Some of them,No,No,Maybe,No,No
1253,2015-08-25,19:59:38,36,Male,United States,No,Yes,No,Rarely,More than 1000,...,Don't know,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26,01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07,12:36:58,34,Male,United States,No,Yes,Yes,Sometimes,More than 1000,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1258,2016-02-01,23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [573]:
survey_data['Country'].value_counts().index

Index(['United States', 'United Kingdom', 'Canada', 'Germany', 'Ireland',
       'Australia', 'Netherlands', 'Poland', 'New Zealand', 'Italy', 'Sweden',
       'Switzerland', 'India', 'Belgium', 'Brazil', 'South Africa', 'Israel',
       'Singapore', 'France', 'Russia', 'Bulgaria', 'Denmark', 'Finland',
       'Mexico', 'Colombia', 'Croatia', 'Thailand', 'Georgia', 'Moldova',
       'China', 'Czech Republic', 'Hungary', 'Japan', 'Austria',
       'Bosnia and Herzegovina', 'Slovenia', 'Portugal', 'Philippines'],
      dtype='object', name='Country')

In [574]:
survey_data['self_employed'].value_counts().index

Index(['No', 'Yes'], dtype='object', name='self_employed')

In [575]:
survey_data['no_employees'].value_counts().index

Index(['26-100', '6-25', 'More than 1000', '100-500', '1-5', '500-1000'], dtype='object', name='no_employees')

In [576]:
survey_data.loc[:, 'no_employees'] = survey_data['no_employees'].str.replace('More than 1000', '1000+')
survey_data.loc[:, 'no_employees'] = survey_data['no_employees'].str.replace('1-5', '1-5')
survey_data.loc[:, 'no_employees'] = survey_data['no_employees'].str.replace('6-25', '6-25')
survey_data.loc[:, 'no_employees'] = survey_data['no_employees'].str.replace('26-100', '26-100')
survey_data.loc[:, 'no_employees'] = survey_data['no_employees'].str.replace('100-500', '100-500')
survey_data.loc[:, 'no_employees'] = survey_data['no_employees'].str.replace('500-1000', '500-1000')

In [577]:
survey_data['no_employees'].value_counts().index

Index(['26-100', '6-25', '1000+', '100-500', '1-5', '500-1000'], dtype='object', name='no_employees')

In [578]:
survey_data

,Date,Time,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27,11:34:53,46,Male,United States,Yes,Yes,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,2014-08-27,11:35:12,29,Male,United States,No,Yes,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27,11:35:24,31,Male,United States,Yes,No,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27,11:35:48,46,Male,United States,No,No,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,2014-08-27,11:36:24,41,Male,United States,No,No,Yes,Never,1000+,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2015-08-20,16:52:09,29,Male,United States,No,Yes,Yes,Sometimes,100-500,...,Yes,Don't know,Yes,No,Some of them,No,No,Maybe,No,No
1253,2015-08-25,19:59:38,36,Male,United States,No,Yes,No,Rarely,1000+,...,Don't know,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26,01:07:35,32,Male,United States,No,Yes,Yes,Often,26-100,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07,12:36:58,34,Male,United States,No,Yes,Yes,Sometimes,1000+,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1258,2016-02-01,23:04:31,25,Male,United States,No,Yes,Yes,Sometimes,26-100,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [579]:
survey_data['treatment'].value_counts()

treatment
Yes    601
No     343
Name: count, dtype: int64

In [580]:
survey_data['Age_category'] = pd.cut(survey_data['Age'], bins=[18,24,35,45,50])

C:\Users\v_gol\AppData\Local\Temp\ipykernel_36712\3263666601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_data['Age_category'] = pd.cut(survey_data['Age'], bins=[18,24,35,45,50])

In [581]:
survey_data.groupby('Age_category')['treatment'].value_counts(normalize=True).unstack()*100

treatment            No        Yes
Age_category
(18, 24]      40.540541  59.459459
(24, 35]      36.986301  63.013699
(35, 45]      33.183857  66.816143
(45, 50]      28.571429  71.428571

In [588]:
survey_data.groupby('Gender')['treatment'].value_counts(normalize=True).unstack()*100

treatment            No        Yes
Gender
Female        20.098039  79.901961
Male          41.355463  58.644537
other_gender  17.647059  82.352941

In [634]:
treatment_by_country = survey_data.groupby('Country')['treatment'].value_counts(normalize=True).unstack()*100
treatment_by_country = treatment_by_country.dropna()
respondents_counts = survey_data.groupby('Country')['treatment'].count()
min_respondents = 10 
relevant_respondents =  respondents_counts[respondents_counts >= min_respondents ].index
treatment_by_country = treatment_by_country[treatment_by_country.index.isin(relevant_respondents)]
treatment_by_country_max = treatment_by_country.sort_values('Yes',ascending=False)
treatment_by_country_max.head(3)
treatment_by_country_min = treatment_by_country.sort_values('Yes',ascending=True)

In [636]:
treatment_by_country_min.head(3)

treatment           No        Yes
Country
Netherlands  57.894737  42.105263
Ireland      43.478261  56.521739
Canada       37.288136  62.711864

In [609]:
respondents_counts = survey_data.groupby('Country')['treatment'].count()
respondents_counts

Country
Australia                  20
Austria                     1
Belgium                     4
Bosnia and Herzegovina      1
Brazil                      4
Bulgaria                    2
Canada                     59
China                       1
Colombia                    2
Croatia                     2
Czech Republic              1
Denmark                     2
Finland                     2
France                      3
Georgia                     1
Germany                    33
Hungary                     1
India                       5
Ireland                    23
Israel                      3
Italy                       6
Japan                       1
Mexico                      2
Moldova                     1
Netherlands                19
New Zealand                 7
Philippines                 1
Poland                      7
Portugal                    1
Russia                      2
Singapore                   3
Slovenia                    1
South Africa                4
Sweden                      5
Switzerland                 5
Thailand                    1
United Kingdom            135
United States             573
Name: treatment, dtype: int64

In [613]:
min_respondents = 10 
relevant_respondents =  respondents_counts[respondents_counts >= min_respondents ].index
relevant_respondents

Index(['Australia', 'Canada', 'Germany', 'Ireland', 'Netherlands',
       'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [624]:
mental_health_rates = survey_data[survey_data['Country'].isin(relevant_respondents)].groupby('Country')['treatment'].apply(lambda x : (x == 'Yes').mean()).reset_index()
mental_health_rates

          Country  treatment
0       Australia   0.650000
1          Canada   0.627119
2         Germany   0.636364
3         Ireland   0.565217
4     Netherlands   0.421053
5  United Kingdom   0.637037
6   United States   0.677138

In [619]:
minimal_rates_by_country = mental_health_rates.sort_values('treatment',ascending=False)
maximal_rates_by_country = mental_health_rates.sort_values('treatment',ascending=True)

In [622]:
minimal_rates_by_country.head(3)

          Country  treatment
6   United States   0.677138
0       Australia   0.650000
5  United Kingdom   0.637037

In [623]:
maximal_rates_by_country.head(3)

       Country  treatment
4  Netherlands   0.421053
3      Ireland   0.565217
1       Canada   0.627119